/*---------Обнуление-----------------------------------*/

*, *::before, *::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

*:focus, *:active {
    outline: none;
}

a, a:visited, a:hover {
    text-decoration: none;
}

a {
    color: inherit;
}

ul, ol, li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}

html, body {
    height: 100%;
    font-family: 'Monda', sans-serif;
    font-weight: 400;
    line-height: 1;
    font-size: 18px;
    color: #000;
    background: #E5E5E5;
}

input, button, textarea {
    font-family: inherit;
}

input::placeholder {
    color: inherit;
}

img {
    vertical-align: top;
}

._container {
    max-width: 820px;
    min-height: 720px;
    margin: 0px auto;
}

.wrapper {
    min-height: 100%;
    max-width: 100%;
    overflow: hidden;
}

.to-do__container {
    display: flex;
    flex-direction: column;
}

/*------HEADER-----------------------------*/

.to-do__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 31px 0px 0px 0px;
}

.to-do__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 163%;
    letter-spacing: 0.25em;
}

.to-do__header > input {
    width: 100%;
    height: 41px;
    font-size: 18px;
    line-height: 29px;
    color: #3E3B3B;
    background: #A8D2A5;
    padding: 0px 0px 0px 29px;
}

.to-do__button-add {
    width: 290px;
    height: 61px;
    border-radius: 25px;
    background: linear-gradient(90deg, #A8D2A5 0%, #ACD4E1 115.2%);
    font-size: 18px;
    line-height: 161%;
    color: #3E3B3B;
    box-shadow: 0px 4px 4px #ACD4E1;
    cursor: pointer;
    transition: box-shadow .3s;
}

.to-do__button-add:hover {
    box-shadow: 0px 4px 4px #7dc3da;
}

.to-do__button-add:active {
    box-shadow: 0px 4px 4px #ACD4E1;
}

.to-do__task-title {
    margin: 40px 0px 0px 0px;
}

.to-do__header > *:nth-child(n+3) {
    margin: 23px 0px 0px 0px;
} 

input.red::placeholder {
    color: red;
}

/*------MAIN-----------------------------*/
.to-do__main {
    margin: 20px 0px 0px 0px;
    flex: 1 1 auto;
}
.list-item__block1 {
    position: relative;
    display: flex;
}

.list-item:not(:first-child) {
    margin: 40px 0px 0px 0px;
}

.list-item__checker > img {
    position: absolute;
    left: 5px;
    top: 3px;
    cursor: pointer;
    transition: all .4s;
}

.list-item__checker > img:first-child {
    opacity: 1;
}

.list-item__checker > img:last-child {
    opacity: 0;
}

.list-item__title {
    padding: 6px 0px 0px 10px;
    font-size: 18px;
    line-height: 161%;
    color: #3E3B3B;
    transition: all .4s;
}

.list-item__line {
    margin: 0px auto;
    width: calc(100% - 12px);
    height: 3px;
    background: #3E3B3B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.list-item__checker {
    width: 40px;
}

.list-item__buttons {
    margin-left: auto;
}

.list-item__buttons > img {
    margin: 0px 20px 0px 0px;
    cursor: pointer;
}

.list-item__subtitle {
    margin: 0px 0px 0px 6px;
    font-size: 14px;
    line-height: 164%;
    color: #3E3B3B;
    transition: all .4s;
}

.list-item.active .list-item__title,
.list-item.active .list-item__subtitle{
    color: #968989;
    text-decoration: line-through;
}

.list-item.active .list-item__checker > img:first-child {
    opacity: 0;
}

.list-item.active .list-item__checker > img:last-child {
    opacity: 1;
}

/*------FOOTER-----------------------------*/
.to-do__footer {
    margin: 35px 0px 0px 0px;
    width: 100%;
    height: 71px;
    background: #ACD4E1;
}