.to-do__container {
  display: flex;
  flex-direction: column;
}

.to-do__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 31px 0 0 0;
}

.to-do__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 163%;
  letter-spacing: 0.25em;
}

.to-do__header > input {
  width: 100%;
  height: 41px;
  font-size: 18px;
  line-height: 29px;
  color: #3E3B3B;
  background: #A8D2A5;
  padding: 0 0 0 29px;
}

.to-do__task-title {
  margin: 40px 0 0 0;
}

.to-do__header > *:nth-child(n+3) {
  margin: 23px 0 0 0;
}

.to-do__task-title.red::placeholder,
.to-do__task-description.red::placeholder{
  color: red;
}

.to-do__footer {
  margin: 35px 0 0 0;
  width: 100%;
  height: 71px;
  background: #ACD4E1;
}









