.to-do {
    &__container {
        display: flex;
        flex-direction: column;
        padding: 0 .5rem;
    }

    &__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 31px 0 0 0;

        input {
            min-width: 100%;
            height: 3rem;
            font-size: 1rem;
            line-height: 2rem;
            color: #3e3b3b;
            background: #a8d2a5;
            padding: 0 1rem;
            border-radius: 10px;
            box-shadow: 0 4px 4px 0 #ACD4E1;
        }

        textarea {
            min-width: 100%;
            font-size: 1rem;
            height: 8rem;
            padding: .5rem 1rem;
            line-height: 2rem;
            color: #3e3b3b;
            background: #a8d2a5;
            border-radius: 10px;
            box-shadow: 0 4px 4px 0 #ACD4E1;
            resize: none;

            &::-webkit-scrollbar {
                background: transparent;
                width: 4px;
            }
    
            &::-webkit-scrollbar-thumb {
                background: #afafaf;
                border-radius: 20px;
            }
        }

        *:nth-child(n + 3) {
            margin: 23px 0 0 0;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 163%;
        letter-spacing: 0.25em;
    }

    &__task-title {
        margin: 40px 0 0 0;
        
        &.incorrectly::placeholder {
            color: red;
        }
    }

    &__task-description {

        &.incorrectly::placeholder {
            color: red;
        }
    }

    &__main {
        margin: 20px 0 0 0;
        flex: 1 1 auto;
        max-height: 400px;
        overflow: auto;

        &::-webkit-scrollbar {
            background: transparent;
            width: 4px;
        }

        &::-webkit-scrollbar-thumb {
            background: #afafaf;
            border-radius: 20px;
        }
    }

    &__button-add {
        width: 290px;
        height: 61px;
        border-radius: 25px;
        background: linear-gradient(90deg, #A8D2A5 0%, #ACD4E1 115.2%);
        font-size: 18px;
        line-height: 161%;
        color: #3E3B3B;
        box-shadow: 0 4px 4px 0 #ACD4E1;
        cursor: pointer;
        transition: box-shadow .3s;

        &:hover {
            box-shadow: 0 4px 4px 0 #7dc3da;
        }

        &:active {
            box-shadow: 0 4px 4px 0 #ACD4E1;
        }
    }

    &__footer {
        margin: 35px 0 0 0;
        width: 100%;
        height: 71px;
        background: #acd4e1;
    }
}