.list-item__block1 {
    position: relative;
    display: flex;
}

.list-item {
    margin: 40px 0 0 0;
}

.list-item__checker > img {
    position: absolute;
    left: 5px;
    top: 3px;
    cursor: pointer;
    transition: all .4s;
}

.list-item__checker > img:first-child {
    opacity: 1;
}

.list-item__checker > img:last-child {
    opacity: 0;
}

.list-item__title {
    padding: 6px 0 0 10px;
    font-size: 20px;
    line-height: 161%;
    color: #3E3B3B;
    transition: all .4s;
    word-wrap: break-word;
    max-width: 88%;
}

.list-item__title.indent {
    text-indent: 40px;
}

.list-item__description {
    font-size: 16px;
    line-height: 164%;
    color: #3E3B3B;
    transition: all .4s;
    word-wrap: break-word;
}

.list-item__line {
    margin-top: 5px;
    width: calc(100% - 12px);
    height: 3px;
    background: #3E3B3B;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.list-item__checker {
    width: 40px;
    background: transparent;
}

.list-item__buttons {
    display: flex;
    align-self: center;
    gap: 30px;
    margin: 0 12px 0 auto;
}

.list-item__buttons > button {
    cursor: pointer;
    background: transparent;
}

.list-item.done .list-item__title,
.list-item.done .list-item__description {
    color: #968989;
    text-decoration: line-through;
}

.list-item.done .list-item__checker > img:first-child {
    opacity: 0;
}

.list-item.done .list-item__checker > img:last-child {
    opacity: 1;
}